@media screen and (max-width: 800px) {
    .companyLogos {
      width: 60px!important;; 
    }
    .jobtitle {
      font-size: 0.9rem!important;
    }
    iframe {margin:0; padding:0; width:100%; height:100%;}
  }